<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome All!</h1>
    <div th:each="usertabletemp : ${kesav}">
        <strong><h3 th:text=" 'ID: '+${usertabletemp.id}"></h3></strong>
        <strong><h3 th:text=" 'Name: '+${usertabletemp.name}"></h3></strong>
        <strong><h3 th:text=" 'Age: '+${usertabletemp.age}"></h3></strong>
    </div>
</body>
</html>